db
incremental_db
simulation
greybox_tmp
*.v.bak
*.qws
*.rpt
software/Listings
software/Objects
software/*.hex
software/*.txt
software/*.uvguix.14551
software/*.Administrator
software/*.uvoptx
*.bak
output_files/top.done
output_files/top.fit.summary
output_files/top.map.summary
output_files/top.sta.summary
output_files/top.map.summary
*.summary
*.done
